#dropdown{
    position: fixed;
    display: inline-block;
    top:10px;
    width:150px;
}


#arrow{
    transition: transform 0.3s ease;
}

.rotate{
    transform: rotate(180deg);
    
}

.dropdown-content.show{
    opacity: 1;
    transform: translateY(0px);
    text-decoration:none;

}

.dropdown-content{
    position: absolute;
    opacity: 0;
    transform: translateY(-10px);
    
    transition: all 0.3s ease;
}