#contact{
    text-align:center;
    position: relative;
    top:30px;
    right:200px;
    display: inline-block;
    opacity:0;
    transform: translateY(20px);
}

#contact.show{
    opacity:1;
    transform: translateY(0px);
    transition:all 1s ease 0.7s;
}
.contact_heading{
    opacity:0;
    transform: translateY(20px);
    text-align: center;
    margin:0px;
    font-size:50px;
}

#contact_heading1.show{
    opacity:1;
    transform: translateY(0px);
    transition: all 1s ease 0.2s;

}

#contact_heading2.show{
    opacity:1;
    transform: translateY(0px);
    transition: all 1s ease 0.5s;
}

.details{
    font-size: 30px;
    position: relative;
    left: 500px;
    margin:70px;
}

#name{
    width:400px;
    height: 40px;
    font-size: 20px;
}

#email{
    width:400px;
    height: 40px;
    font-size: 20px;
    position:relative;
    
}

#message{
    
    width: 800px;
    font-size: 20px;
    height: 200px;
}

#msg{
    position:relative;
    bottom:90px;
}

#submitbtn{
    font-size: 20px;
    position:relative;
    left:500px;
    top:20px;
}

